<div class="share_content">
	<span class="content-share share_button"><i></i></span>
	<div class="kshare">
		<ul class="kshare-items">
			<li class="share--twitter">
				<koken:if empty="profile.twitter"><a target="_blank" href="https://twitter.com/intent/tweet?text={{ content.title|content.filename url_encode="true" }}&url={{ content.url url_encode="true" }}" class="share-twitter"><koken:else><a target="_blank" href="https://twitter.com/intent/tweet?text={{ content.title|content.filename url_encode="true" }}&url={{ content.url url_encode="true" }}&via={{ profile.twitter }}" class="share-twitter" title="{{ language.share_on_ }} Twitter"></koken:if><i class="kicon-twitter"></i></a>
			</li>
			<li class="share--facebook">
				 <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ content.url url_encode="true" }}" class="share-facebook" title="{{ language.share_on_ }} Facebook"><i class="kicon-facebook"></i></a>
			</li>
			<li class="share--pinterest">
				<a href="http://pinterest.com/pin/create/button/?url={{ content.url url_encode="true" }}&media={{ content.presets.large.url url_encode="true" }}&description={{ content.title|content.filename url_encode="true" }}" class="share-pinterest" title="{{ language.share_on_ }} Pinterest"><i class="kicon-pinterest"></i></a>
			</li>
			<li class="share--tumblr">
				<a target="_blank" href="https://www.tumblr.com/widgets/share/tool?posttype=photo&content={{ content.presets.large.url url_encode="true" find="," replace="/"}}&canonicalUrl={{ content.url url_encode="true" }}&caption=%3Cp%3E%3Cstrong%3E%3Ca href=&quot;{{ content.url url_encode="true" }}&quot;title=&quot;{{ content.title|content.filename }}&quot;%3E{{ content.title|content.filename }}%3C/a%3E%3C/strong%3E%3C/p%3E%3Cp%3E{{ content.caption url_encode="true" }}%3C/p%3E" class="share-tumblr" title="{{ language.share_on_ }} Tumblr"><i class="kicon-tumblr"></i></a>
			</li>
			<li class="share--google-plus">
				<a target="_blank" href="https://plus.google.com/share?url={{ content.url url_encode="true" }}" class="share-google" title="{{ language.share_on_ }} Google+"><i class="kicon-gplus"></i></a>
			</li>
			<koken:if true="settings.show_img_download">
				<koken:max_download>
					<li class="share--content-download">
						<koken:link class="share-dl no-share" title="{{ language.download }} {{ content.title | content.filename.clean }} {{ language.kcs_in_ }} {{ max_download.width }}x{{ max_download.height }}"><i class="kicon-dl"></i></koken:link>
					</li>
				</koken:max_download>
			</koken:if>
			<li class="share--permalink">
				<koken:link url="javascript:void(0)" data-clipboard-text="{{ content.url }}" class="o-clippy share-permalink no-share" title="{{ language.kcs_copy collate='language.permalink' }}"><i class="kicon-link"></i></koken:link>
			</li>
		</ul>
	</div>
</div>
