<koken:if data="settings.show_tags_cats" equals="true">
	<koken:tags>
		<h1 class="picinfo">{{ language.tags }}</h1>
		<ul class="taggsdata clearfix">
			<koken:loop separator=" ">
				<li id="tag" class="tagdetail">
					<koken:link title="{{ language.view_everything_in }} {{ tag.title }}">
						<svg class="icon-exif" id="icon-exif-tag"><use xlink:href="#icon-exif-tag" /></svg> {{ tag.title case="title" }}
					</koken:link>
				</li>
			</koken:loop>
		</ul>
	</koken:tags>
	<koken:categories>
		<h1 class="picinfo" style="clear:left;">{{ language.categories }}</h1>
		<ul class="taggsdata clearfix">
			<koken:loop separator=" ">
				<li id="cats" class="tagdetail">
					<koken:link to="category" title="{{ language.view_everything_in }} {{ category.title }}">
						<svg class="icon-exif" id="icon-exif-category"><use xlink:href="#icon-exif-category" /></svg> {{ category.title case="title" }}
					</koken:link>
				</li>
			</koken:loop>
		</ul>
	</koken:categories>
</koken:if>
