<koken:load source="album" filter:id="{{ album.id }}">
<koken:if condition="{{ content.length }} > 1">
	<div class="timeline-pulse">
		<koken:pulse jsvar="pulse_{{ album.id }}" group="time_albumnew_list" link_to="advance"  source="album" filter:id="{{ album.id }}" transition_type="fade" transition_duration="1" size="auto" />
		<script>pulse_{{ album.id }}.on( 'start', function() {$('#ss_spinner_{{ album.id }}').addClass('loading');});
		pulse_{{ album.id }}.on( 'waiting', function(e) {if (e) {$('#ss_spinner_{{ album.id }}').addClass('loading');} else {$('#ss_spinner_{{ album.id }}').removeClass('loading');}});
		pulse_{{ album.id }}.on( 'dataloaded', function() {$('#ss_spinner_{{ album.id }}').removeClass('loading');});</script>
		<div id="ss_spinner_{{ album.id }}"></div>
	</div>
<koken:else>
	<koken:link lightbox="{{ settings.use_lightbox }}" title="{{ language.view }} {{ content.title | content.filename }}">
		<koken:img lazy="true" />
		<koken:if data="settings.enable_ps_caption" equals="true">
			<koken:include file="inc/components/photoswipe_caption.html" />
		</koken:if>
	</koken:link>
</koken:if>
</koken:load>
