<!-- Hungary -->
<koken:not empty="settings.address_name">{{ settings.address_name_prefix }} {{ settings.address_name }}<br /></koken:not>
<koken:not empty="settings.address_city_info">{{ settings.address_city_info }}<br /></koken:not>
<koken:not empty="settings.address_street_info">{{ settings.address_street_info }}<br /></koken:not>
<koken:not empty="settings.address_postal_code">{{ settings.address_postal_code }} </koken:not>
<koken:not empty="settings.address_country_info"> {{ settings.address_country_info }}</koken:not>